app-code/gsa-step-function.json
{
  "Comment": "Step Function for orchestrating GSA Lambda tasks",
  "StartAt": "LambdaA",
  "States": {
    "LambdaA": {
      "Comment": "Returns last sequence value from S3",
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:591911165048:function:gsa-lambda-a",
      "Next": "LambdaB",
      "ResultPath": "$.outputA"
    },
    "LambdaB": {
      "Comment": "Returns last sequence value with last two inserted fibonacci values",
      "InputPath": "$.outputA",
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:591911165048:function:gsa-lambda-b",
      "Next": "LambdaC",
      "ResultPath": "$.outputB"
    },
    "LambdaC": {
      "Comment": "Sum of two values",
      "InputPath": "$.outputB",
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:591911165048:function:gsa-lambda-c",
      "End": true
    }
  }
}
